{% extends 'main.html' %}

{% block content %}

<style>
    .profile-wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h3>PROFILE</h3>
<p>{{user.username}}</p>

<div class="profile-wrapper">
    <div>
        <h3>Browse Topics</h3>
        <div><a href="/">All</a></div>
        {% include "topic_file.html" %}
        <hr>
    </div>
    <div>
        <a href="create-room/">Create room</a>
        <h5>{{room_count}} rooms are available</h5>
        <div>
            {% include "room_file.html" %}
        </div>
    </div>

    <div>
        {% include "activity_file.html" %}
    </div>

</div>

{% endblock %}