{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h1>Hello from {{room.name}} community!</h1>
        <p> {{room.description}}</p>

        <div class="conversation-wrapper">
            <h2>Conversation</h2>

            {% for message in room_messages %}
                <hr>
                <div>
                    {% if request.user == message.user %}
                        <span><a href="/delete-message/{{message.id}}">Delete</a></span>
                    {% endif %}
                    <small>@{{message.user}} {{message.created | timesince}} ago</small>

                    <p>{{message.body}}</p>

                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
            <div class="comment-wrapper" >
                <form method="POST" action="">
                    {% csrf_token %}
                    <hr>
                    <input type="text" placeholder="Write your text" name="body"> <!-- {name, "text"}   this is dictionary, it will save here the value then store it to key-->
                </form>
            </div>
        {% endif %}
    </div>

    <div>
        <h3>Paricipants</h3>
        {% for participant in room_participants %}
            <p>@{{participant.username}}</p>
        {% endfor %}
    </div>


</div>
{% endblock %}